.cls-1 {
  isolation: isolate;
}

.cls-2 {
  fill: none;
  fill-rule: evenodd;
}

#Shadow_Image #Shoe_Image {
  pointer-events: none;
}

#svg {
  width: 70%;
}

.color-selector {
  width: 50px;
  height: 50px;
  display: inline-block;
}
