body {
  display: flex;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 4vw;
}

#svg {
  width: 55%;
}

#Shadow_Image {
  pointer-events: none;
}
h2 {
  font-size: 2vw;
}
.cls-1 {
  cursor: pointer;
}

circle {
  cursor: pointer;
}
